@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Lora:wght@400;500;600;700&family=Roboto&display=swap');

:root{
    --primary-color:  #e8505b;
    --white-color:#ffffff;
    --dark-color:#171819;
    --about-bg-color:#f9f9f9;

    --head-color:#701254;
    --gray-color:#909090;
    --link-color:#404040;
    --p-color:#666262;

    --base-font-family:"Playfair Display", sans-serif;
    --font-weight-bold: bold; 
    --font-weight-normal: normal;
    --font-weight-light: 300;
    --font-weight-thin: 100;
    
    --h1-font-size: 48px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 22px;
    --p-font-size: 18px;
    --base-font-size: 16px;
    --menu-font-size: 14px;

    --border-radius-large: 100%;
    --border-radiuse-small: 2px;

}

*{
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing:border-box;
}


a{
    color:var(--link-color);
    font-weight: normal;
    text-decoration:  none;
    transition:  all 0.3s ease;
}

a:hover,
a:active,
a:focus{
    color: var(--primary-color);
    outline: none;
    text-decoration: none;
}

ul,
ol{
    padding: 0;
    margin: 0;
}

body{
    background: var(--white-color);
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Roboto', sans-serif;
    /* font-family: Poppins; */
}

.navbar{
    background: #212936;
    padding: 1rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.navbar-brand{
    color:#a2e200;
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    line-height: normal;
    padding-top: 0;
}


.nav-item .nav-link{
    display: block;
    color:#a2e200;
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    padding: 2px 6px;
}

.navbar-brand:hover,
.nav-item .nav-link.active,
.nav-item .nav-link:hover{
    color: var(--primary-color);
}


/* ************************ Section 1 ******************************* */
.hero{
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.dg-mytable{
    background-image: url(bg.png);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-overlay{
    background: var(--dark-color);
    display: flex;
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: -1;
    background-image: url(bfc073b789ca7a1468b32add7c7dfa34.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.my-text{
    color:#8490a4;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5, 
h6{
    
    font-weight: 100;
    line-height: normal;
}

h1{
    color: #ffffff;
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 20px 0;
}

h2{
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -2px;

}
h3{
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
    margin: 0;

}
h4{
    font-size: var(--h4-font-size);
    color:#701254;
}
h5{
    font-size: var(--h5-font-size);
}
h6{
    font-size: var(--h6-font-size);
    line-height: inherit;
    margin: 0;
}

p{
    font-size: var(--p-font-size);
    font-weight: var(-fwl);
    line-height: 1.5rem;
}
b, 
strong{
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
}
.section{
    padding:7rem 0;
}
.down{
    width: 30%;
    height: 80px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}
.section-1{
    background-color: #151a22;
}
.body1{
    /* display: flex; */
}
.body2{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding-right: 50px;
    padding-bottom: 2px;
    color: #ffffff;
}
label{
    width: 200px;
    padding: 2px;
    color: #ffffff;
}
.body3{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    
}
#answer-processor{
    color:#ffffff;
}
.answer{
    width: 450px;
}
#answer-processor:active{
    color: #e8505b
}
.myselect{
    width: 200px;
    background-color:#151a22 ;
    color: #8490a4;;
    border: 1px solid #8490a4;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .2em; 
}

.field{
    padding-top: 2px;
    /* size: 350px; */
    /* width: 9em; */
    
}
#processor>form{
    display: flex;
    flex-direction: column;
}
option{
    color:#a2e200;
}
.apple{
    border-radius: 2px solid black;

}
.apples:hover{
    background-color: #ffffffe9;
}

.play-store{
    background-color: #0000007e;
}
.play-store:hover{
    background-color: rgba(124,11,54,0.767);
}

.mytable{
    /* background-image: ; */
    max-width: 90%;
    background-color: #1c232e;
    color: #8490a4;
}
.mytable td{
    border: 2px solid #8490a4;
    /* max-width: 30%; */
    
    height: 150px;
}


.mytable h3{
    color: #fff;
    border-bottom: 1px solid #8490a4;
}

/* ********section 2********* */

.fitco-section{
    padding:  7em 0;
    position: relative;
}
.offer-deal{
    width: 100%;
}
.offer-deal .img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.offer-deal .text h3{
    font-size: 30px;
    letter-spacing: 1px;
}

.custom-btn{
    background: transparent;
    border-radius: var(--border-radiuse-small);
    padding: 14px 24px;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.custom-btn:hover{
    color: var(--primary-color);
}
.custom-btn:focus{
    box-shadow: none;
}

.custom-btn.bg-color:hover,
.custom-btn.bg-color:focus{
    background: var(--white-color);
    border-color: transparent;
    color: var(--primary-color);
}
.bg-color{
    background-color: var(--primary-color);
    color:var(--white-color);
}

/* **********section 3************/
.row{
    display: flex;
}
.footer__partners{
    flex: auto;
    max-width: 50%;
}
.footer__adres{
    flex: auto;
    color: #fff;
    max-width: 50%;
}
.my-text p{
    width: 300px;
    border-bottom: 1px solid #8490a4;
}

.my-text p:last-child{
    border-bottom: 0;
}
.my-text2 p{
    width: 300px;
    border-bottom: 1px solid #8490a4;
}

.my-text2 p:last-child{
    border-bottom: 0;
}

.home-about{
    background: #212936;
    padding-bottom: 0;
}
.spad{
    padding-top: 10px;
    padding-bottom: 10px;
}
.home_about_pic{
    margin-right: -20px;
    margin-right: 30px;

}
.home_about_pic_items{
    height: 620px;
    width: calc(50%-20px);
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}